body, html{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #000000;
    height: 100%;
}
#footer{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
}

.text:hover{
    text-decoration: underline;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: block;
    padding: 15px;
}

#right-toolbar, #bottom-right{
    float: right;
}

.right{
    float: left;
    padding: 0px 15px;
    padding-bottom: 0px;
}

.left{
    float: left;
    padding: 20px 7.5px;
}

#app-icon {
    width: 30px;
    height: 30px;
}

#account-icon {
    width: 32px;
    height: 32px;
    margin: -1px;
}

#right-toolbar{
    float: right;
    display: grid;
    grid-template-columns: 34px 43px 30px 30px;
    grid-column-gap: 15px;
    align-items: center;
    padding: 10px 30px;
}

#left-toolbar {
    float: left;
    display: grid;
    grid-template-columns: 34px 31px;
    grid-column-gap: 15px;
    padding-top: 10px;
    padding-left: 15px;
    align-items: center;
}

#logo-container{
    margin: auto;
    margin-top: 47px;
    height: 233px;
    width: 100%;
    display: grid;
    justify-items: center;
}

#logo{
    padding-top: 109px;
}

#search-box{
    height: 140px;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 39px 70px;
}

#search-bar:hover{
    box-shadow: 1px 1px 4px #888888;
}

#search-bar {
    height: 39px;
    width: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color:rgb(223, 225,229);
    border-width: 1px;
    border-radius: 24px;
}

#search{
    border-style: none;
    display: flex;
    height: 34px;
    width: 387px;
    outline: none;
    align-self: flex-start;
}

@media (max-width: 550px){
    #search-bar {
        width: 84vw;
    }

    #search {
        width: 70vw;
    }
}

#mic {
    height: 24px;
    width: 24px;
}

#glass{
    height: 20px;
    width: 20px;
}

#buttons{
    margin-top: 18px;
}

.button{
    padding: 0px 16px;
    border: 1px;
    margin: 11px 4px;
    height: 36px;
    background-color: rgb(242,242,242);
    border-style: solid;
    border-color: rgb(242,242,242);
}

#search-button{
    width: 127.4px;
    padding: 0px 16px;
    border: 1px;
    margin: 11px 4px;
    height: 36px;
    border-radius: 4px;
    color: grey;

}

#lucky-button{
    width: 142.5px;
    padding: 0px 16px;
    border: 1px;
    margin: 11px 4px;
    height: 36px;
    border-radius: 4px;
    color: grey;
}

#lucky-button:hover, #search-button:hover{
    color: black;
    border-style: solid;
    border-color: grey;
}